.board {
/*  width: 300px;
  height: 300px;
  border: 1px solid red;*/
  position: relative;
}

.tile {
  /* display: inline-block; */
  text-align: center;
  line-height: 150%;
  font-size: 100%;
  font-family: sans-serif;
  position: absolute;
  transition: .25s ease-in-out;
  background: url('http://i163.photobucket.com/albums/t291/moonleerecords/covers/400px/hmrl015-hesus-attor-300.jpg');

  -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
  -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);

}

.tile span {
  line-height: 450%;
  font-size: 1rem;
}

.board,
.shuffle-btn {
  display: inline-block;
}
